name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Make deploy script executable
        run: chmod +x ./deploy-script.sh

      - name: Deploy app
        run: ./deploy-script.sh # Run the deploy script
